In [7]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
# Matrice 
mat[2][3] # mat[riga][colonna] dovrebbe plottare 13 -- rircoda iniza a contare da 0

13

In [19]:
import math as m
x = 3/2
a = m.sin(x)
b= m.cos(m.pi)
c = m.factorial(4)

print(a, b, c, sep=", ")

0.9974949866040544, -1.0, 24

In [29]:
import math
math.degrees(math.pi) 
# indica pi in gradi, valore è 180 gradi. pi è in radianti

180.0

In [86]:
#L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
#trasformiamola in un array NumPy (casting):
import numpy as np
a = np.array(lst)
max = np.max(a)
min = np.min(a)
val1 = a>4999
val2 = a>3000
VenditeFiltrate1 = a[val1]
VenditeFiltrate2 = a[val2]
media= np.mean(a)

print("Le vendite di questo mese dono state:", a)
print("Vendita col maggior numero di transazioni:", max)
print("Vendita col minor numero di transazioni:", min)
print("Transazioni con più di 4999 unità:", VenditeFiltrate1)
print("Transazioni con meno di 3000 unità:", VenditeFiltrate2)

Le vendite di questo mese dono state: [2000 5500 7200 4320 1280 1900 2500 3900 6410 8150 7100 5350]
Vendita col maggior numero di transazioni: 8150
Vendita col minor numero di transazioni: 1280
Transazioni con più di 4999 unità: [5500 7200 6410 8150 7100 5350]
Transazioni con meno di 3000 unità: [5500 7200 4320 3900 6410 8150 7100 5350]

In [99]:
import pandas as pd
#Consideriamo il seguente dizionario: 
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

#Possiamo accedere alle stesse informazioni nello stesso modo:
fatturati_dict[1997] 
fatturati_series[1997]

#Dunque qual è la differenza tra i due tipi di dato? Cosa potremmo fare con la Series che non possiamo fare con il dizionario?
# La Series può essere facilmente utilizzata con altre strutture Pandas, come DataFrames,
#per l'analisi e la manipolazione dei dati su larga scala. Per esempio, possiamo facilmente trasformare una Series in una colonna di un DataFrame.
# Series è indicizzata

12000

In [14]:
#L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: 
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

# Ciclo for 
for i in range(len(stipendi)): 
    stipendi[i] *= 2
stipendi


stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )
stipendi*= 2
stipendi

array([ 200,  400,  600,  800, 1000, 1200, 1400, 1600, 1800, 2000])

In [24]:
#Scrivere un programma che 
#• in input acquisisce una lista di numeri e un numero K 
#• in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K 
#• se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

inp = input("Inserisci una lista di elementi separati da spazi: ")
k = int(input("Inserisci K"))
lista =[int(x) for x in inp.split()]
n = len(lista)
somma = 0

for numero in lista: 
    if numero >= k: 
        somma+=numero
media = somma / n 

if somma == 0: 
    print(f"nesun elemento della lista maggiore di {k}, impossibile computare la media")
else:
    print(f"La media dei numeri maggiori di {k} tra quelli selezionati è", media)

Inserisci una lista di elementi separati da spazi:  3 4 56 2 1 6 8
Inserisci K 3

La media dei numeri > di 3 tra quelli selezionati è 11.0

In [38]:
# Scrivere un programma che, data una lista di numeri, come output s#tamperà 
#lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica

inp = input("Inserisci una lista di elementi separati da spazi: ")
lista =[int(x) for x in inp.split()]
car = "*"
for i in lista: 
    print(i*car)

Inserisci una lista di elementi separati da spazi:  1 3 4

*
***
****

In [80]:
lcf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

print("Codici Fiscali della lista che contengono 95:")
for c in lcf: 
    if "95" in c:
        print(c
            , "Cognome:", c[0:3]
            , "Nome:", c[3:6])

Codici Fiscali della lista che contengono 95:
ABCDEF95G01A123B Cognome: ABC Nome: DEF
STUVWX95Z04A654E Cognome: STU Nome: VWX
DEFGHI95J06A987G Cognome: DEF Nome: GHI

In [26]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
en= enumerate(edizioni)

for i in en:
    if i[1] == 1: 
        ind = i[0]
        print(studenti[ind],"del corso di",  corsi[ind])

Alex del corso di Cybersecurity
Faith del corso di Backend

In [36]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

for i in range(len(prezzi)): 
    if "€" in prezzi[i]:
        prezzi[i] = prezzi[i].replace("€", "$")
prezzi

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [46]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
pari=[]
dispari=[]
for i in range(len(studenti)):
    if i % 2 == 0: 
        pari.append(studenti[i])
    else: 
        dispari.append(studenti[i])
print(pari)
print(dispari)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [11]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
somma = 0 
n = 0
for i in range(len(guadagni)):
        if n == 0:
            print("La media è nulla")
        else: 
            print(f"Mese {i+1}: guadagni di {guadagni[i]} contro una media precente di {somma/n} $")
        somma += guadagni[i]
        n += 1

La media è nulla
Mese 2: guadagni di 90 contro una media precente di 100.0 $
Mese 3: guadagni di 70 contro una media precente di 95.0 $
Mese 4: guadagni di 40 contro una media precente di 86.66666666666667 $
Mese 5: guadagni di 50 contro una media precente di 75.0 $
Mese 6: guadagni di 80 contro una media precente di 70.0 $
Mese 7: guadagni di 90 contro una media precente di 71.66666666666667 $
Mese 8: guadagni di 120 contro una media precente di 74.28571428571429 $
Mese 9: guadagni di 80 contro una media precente di 80.0 $
Mese 10: guadagni di 20 contro una media precente di 80.0 $
Mese 11: guadagni di 50 contro una media precente di 74.0 $
Mese 12: guadagni di 50 contro una media precente di 71.81818181818181 $